/* You can add global styles to this file, and also import other style files */
body{
    margin:0px;
    padding:0px;
}

/*
.tui-image-editor-header-logo{
    display:none;
}
*/

/*
.tui-image-editor-submenu{
    background: aliceblue!important;
}
.tui-image-editor-header{
    background-color: #282828!important;
}*/

.tui-image-editor-container .tui-image-editor-controls-logo > img, .tui-image-editor-container .tui-image-editor-header-logo > img {
    width: 459px!important;
    height: 45px!important;
    position: relative;
    top: -9px;
    left: -29px;
}

body .ui-widget-content{
    border:0px;
}